.cart-item {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.cart-item-title{
    margin-bottom: 20px;
}
.cart-item-price{
    margin-bottom: 0;
}

