.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Estilização carrinho*/
.cart-status{
  background-color: red;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  position: absolute;
  top: 1;
  left: 1;
  font-size: 10px;
  color: white;
  text-align: center;
  margin-left: 2px;
  font-weight: 700;
  align-items: center;
  justify-content: center;
}

/*Botões de adicionar*/
.btn-add-card {
  padding: 0 15px;
  text-align: center;
  align-items: center;
  margin-left: 10px;
  justify-content: center;
}

.space-buttons{
  display: flex;
  gap: 10px;
 
}

